# Miscellaneous
*.DS_Store
*.vscode

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
sandbox/1849A.cpp
sandbox/binary_tree.cpp
sandbox/cp_handbook_snippets.cpp
sandbox/factorial.cpp
sandbox/fibonacci.cpp
sandbox/linked_list.cpp
sandbox/cp_handbook/7_1.cpp
sandbox/cp_handbook/7_2.cpp
